body {
    background-color: #F2EBD3;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
}

.gameContainer {
    text-align: center;
    width: 700px;
    background-color: #14BDAC;
    padding: 20px;
}

.selectionContainer {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-gap: 5px;
    border: 5px solid #0DA192;
    grid-template-columns: repeat(3, 1fr);
    background-color: #0DA192;
    height: 250px;
    width: 250px;
    margin: auto;
}
  
.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    background-color: #14BDAC;
}

.marker {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-size: 70px;
    font-weight: normal;
    pointer-events: none;
    outline-style:none;
    color: #545454;
}

.gameStatusContainer {
    margin: 10px;
}

.restartGame {
    margin-top: 30px;
}

