@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #F2EBD3;
    text-align: center;
    font-family: Bebas Neue, sans-serif;
    color: #545454;
}

button, select {
    min-width: 200px;
    max-width: 200px;
    margin: 10px;
}

.game {
    display: flex;
    justify-content: center;
}

.gameContainer {
    text-align: center;
    width: 700px;
    background-color: #14BDAC;
    padding: 20px;
}

.selectionContainer {
    display: flex;
    justify-content: center;
}

.playerTurnContainer {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.playerOneContainer, .playerTwoContainer {
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding: 10px;
    margin: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.playerOneContainer:hover, .playerTwoContainer:hover {
    background-color: #0DA192;
    cursor: pointer;
}

.playerTurn {
    border-bottom: 5px solid white;
}

.grid {
    display: grid;
    grid-gap: 5px;
    border: 5px solid #0DA192;
    grid-template-columns: repeat(3, 1fr);
    background-color: #0DA192;
    height: 250px;
    width: 250px;
    margin: auto;
}
  
.cell {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    background-color: #14BDAC;
    transition: transform .4s;
    -webkit-transition: background-color 1s;
}

.marker {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-size: 70px;
    font-weight: normal;
    pointer-events: none;
    outline-style:none;
    color: #545454;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.2 ease-in-out;
}

.markerDraw {
    opacity: 1;
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.gameStatusContainer {
    margin: 10px;
}

.restartGame {
    margin-top: 30px;
}


.winningCell {
    background-color: #0DA192;
}